<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Activity Form</title>
    <script src="../js/dataValidation.js"></script>
</head>

<body>
    <h1>Delete Activity</h1>
    <form id="deleteActivityForm" onsubmit="return validateDeleteActivityForm()">
        <label for="id_activite">Activity ID:</label><br>
        <input type="text" id="id_activite" name="id_activite" ><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>
